.container{
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 248px);
    padding: 88px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-backgroundService);
}

.title{
    color: var(--color-primary);
    font-family: 'Rostelecom-Medium';
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 40px;
}

.txt{
    color: var(--color-primary);
    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 28px;
}

@media (max-width: 770px) {
    .container{
        padding: 88px 16px;
        height: calc(100vh - 224px);
    }
    .title{
        margin-bottom: 32px;
        font-size: 32px;
    }
}