@font-face {
    font-family: 'Rostelecom-Light';
    src: url('../../../../font/RostelecomBasis-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Rostelecom-Regular';
    src: url('../../../../font/RostelecomBasis-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rostelecom-Medium';
    src: url('../../../../font/RostelecomBasis-Medium.woff2') format('woff2');
}


*{
    padding:0; margin:0;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    /*width: 280px;*/
    height: fit-content;
    border-radius: 8px;
    border: 2px solid var(--color-backgroundTab);

}

.cardTitle{
    font-family: 'Rostelecom-Medium';
    font-size: 24px;
    font-weight: normal;
    color: var(--color-primary);
    height: 64px;
    margin: 16px 16px 10px 16px;

    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
}

.cardDescription{
    display: flex;
    flex-direction: column;
}

.cardConditionsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 16px 20px 16px;

    border-bottom: 1px solid var(--color-backgroundTab);
}

.condition{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
}

.conditionTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conditionName{
    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 16px;
    color: var(--color-primary);
    margin: 0 0 2px 12px;
}

.conditionSubName{
    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 14px;
    color: var(--color-primary);
    line-height: 20px;
    margin: 0 0 0 12px;
    opacity: .5;
}

.priceContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 16px 20px 16px;
    box-sizing: border-box;
    width: 100%;
}

.price{
    font-family: 'Rostelecom-Medium';
    font-weight: normal;
    font-size: 40px;
    color: var(--color-primary);
}

.currency{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.ruble{
    display: flex;
    justify-content: center;

    font-family: 'Rostelecom-Light';
    font-weight: normal;
    font-size: 14px;
    color: var(--color-primary);
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-primary);
}

.mounth{
    display: flex;
    justify-content: center;

    font-family: 'Rostelecom-Light';
    font-weight: normal;
    font-size: 14px;
    color: var(--color-primary);
}

.buyBtnContainer{
    padding: 0 16px 16px 16px;
}