.container{
    top: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    background: white;
    display: flex;
    top: 0px;
    width: 100%;
    height: 88px;
    flex-shrink: 0;
    padding: 0 160px;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgb(16 24 40 / 20%);
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.rtcLogo{
    width: 28px;
    margin-right: 16px;
}

.title{
    font-family: 'Rostelecom-Bold';
    font-size: 24px;
    line-height: 24px;
    color: var(--color-primary);
    text-decoration: none;
}

.formLogin{
    margin-top: 88px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 -16px;
}

.authHeader{
    font-family: 'Rostelecom-Medium';
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 16px;
}

.linkContaier{
    font-family: 'Rostelecom-Regular';
    font-size: 16px;
    color: var(--color-primary);
    margin-top: 16px;
}

.logoPattern{
    position: absolute;
    height: 400px;
}

.error{
    font-family: 'Rostelecom-Regular';
    font-size: 16px;
    color: var(--color-error);
    margin-top: 24px;
    text-align: center;
}

.inputMask{
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: var(--color-backgroundTab);
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 16px;

    color: var(--color-primary);
    font-family: 'Rostelecom-Regular';
    font-size: 16px;
    margin-bottom: 16px;
}

@media (max-width: 770px) {
    .header{
        height: 64px;
        padding: 0 16px;
    }
    .rtcLogo{
        width: 24px;
        margin-right: 12px;
    }
    .title{
        font-size: 18px;
    }
    .formLogin{
        width: 100%;
        box-sizing: border-box;
        padding: 0 16px;
    }

}