.container{
    height: 100%;
    background-color: var(--color-backgroundService);
    padding: 0 314px;
    display: flex;
    flex-direction: column;
}

.requestContainer{
    width: 100%;
    background: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 61.326% 38.674%;
    margin-top: 64px;
    margin-bottom: 40px;
    padding-top: 48px;
    padding-bottom: 56px;
    box-sizing: border-box;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-backgroundTab);
}

.rightContainer{
    display: flex;
    flex-direction: column;
}

.requestHeader{
    color: var(--color-primary);
    font-family: 'Rostelecom-Medium';
    font-weight: normal;
    font-size: 36px;
    padding: 0 48px;
    margin-bottom: 24px;
}

.requestTitle{
    color: var(--color-primary);
    font-family: 'Rostelecom-Medium';
    font-weight: normal;
    font-size: 20px;
    padding: 0 48px;
    margin-bottom: 16px;
}

.rows{
    padding: 0 0 24px 0;
    border-bottom: 1px solid var(--color-backgroundTab);
    margin: 0 48px 24px 48px;
}

.price{
    color: var(--color-primary);
    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 16px;
    padding: 0 48px;
}

.form{
    padding: 24px 48px 0 48px;
    display: flex;
    flex-direction: column;
}

.txt{
    color: var(--color-primary);
    opacity: .6;
    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 28px;
}

.back{
    opacity: .95;
    height: 44px;
    width: fit-content;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-family: 'Rostelecom-Medium';
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: #575d68;
    transition: all 0.5s ease;
}

.back:hover{
    opacity: .7;
}

.error{
    height: 40px;
    margin-top: 24px;
    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 16px;
    color: var(--color-error);
}

@media (max-width: 770px) {
    .container{
        padding: 0 0px;
    }
    .leftContainer{
        margin: 0 24px;
        border-right: none;
        border-bottom: 1px solid var(--color-backgroundTab);
    }
    .rightContainer{
        margin-top: 24px;
    }
    .requestContainer{
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
        margin-top: 24px;
        margin-bottom: 24px;
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .requestHeader{
        font-size: 32px;
        padding: 0px;
    }

    .requestTitle{
        padding: 0 24px;
    }
    .rows{
        border-bottom: 1px solid var(--color-backgroundTab);
        margin: 0 24px 24px 24px;
    }
    .price{
        padding: 0 24px;
    }

    .form{
        padding: 0px;
    }
    .back{
        margin-bottom: 24px;
        padding: 0 24px;
        font-size: 18px;
    }
    .error{
        height: fit-content;
        margin-bottom: 24px;
    }

}