.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 160px;
    margin-top: 40px;
}

@media (max-width: 770px) {
    .container{
        padding: 0 16px;
    }
}