.container{
    display: flex;
    height: 160px;
    padding: 0 160px;
    align-items: center;
    background-color: var(--color-backgroundFooter);

    font-family: 'Rostelecom-Medium';
    font-size: 22px;
    color: white;

}

@media (max-width: 770px) {
    .container {
        padding: 0 16px;
        font-size: 18px;
    }
}