.tabElement{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0 16px;
    outline: none;
    border: 2px transparent;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;

    font-family: 'Rostelecom-Regular';
    font-weight: normal;
    font-size: 16px;
    color: var(--color-primary);
    transition: all 0.25s ease;
}

.tabElement:hover{
    color: var(--color-accent);
}

.tabElementActive{

    background-color: var(--color-accent);
    color: white !important;
}

@media (max-width: 770px) {
    .tabElement{
        min-width: fit-content;
    }
}