@font-face {
    font-family: 'Rostelecom-Regular';
    src: url('../../../font/RostelecomBasis-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Rostelecom-Medium';
    src: url('../../../font/RostelecomBasis-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Rostelecom-Bold';
    src: url('../../../font/RostelecomBasis-Bold.woff2') format('woff2');
}

.container{
    width: 100%;
    height: fit-content;

    display: grid;
    flex-direction: column;
    align-items: center;

    grid-gap: 24px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 48px;
    margin-top: 24px;
}

.tabContainer{
    width: fit-content;
    height: 44px;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--color-backgroundTab);
    display: flex;
    flex-direction: row;
}

.btnStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0 16px;
    outline: none;
    border: 2px transparent;
    border-radius: 24px;
    background-color: var(--color-accent);
    cursor: pointer;

    font-family: 'Rostelecom-Regular';
    font-size: 16px;
    color: var(--color-primary);
    transition: all 0.5s ease;
}